body {
  background-color: #edf2fb;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

.calc {
  max-width: fit-content;
  margin: 0 auto;
  background-color: #e2eafc;
  padding: 10px;
  border-radius: 20px;
}

.buttons-row {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #abc4ff;
  font-size: 60px;
  cursor: pointer;
  color: #03045e;
}

.screen {
  font-size: 60px;
  background-color: #abc4ff;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  justify-content: center;
  vertical-align: middle;
  text-align: right;
  padding: 10px;
  cursor: pointer;
  color: #03045e;
}

#error {
  color: #ee6055;
  width: 300px;
  font-size: 18px;
  text-align: center;
}

#copy {
  color: #709a0f;
  width: 300px;
  font-size: 18px;
  text-align: center;
}
